/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v23-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v23-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v23-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v23-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v23-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v23-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v23-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v23-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v23-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v23-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v23-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v23-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v23-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v23-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v23-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v23-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* General */
html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #0a1c2b;
}
body {
    position: relative;
    overflow-y: scroll;
}

h1,
h2,
h3,
h4 {
    color: #205d91;
}

h1, h2 {
    font-size: 24px;
    font-weight: 600;
}

h2 {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    margin-bottom: 40px;
    color: #0a1c2b;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
}

h3 > span{
    position: relative;
    display: inline-block;
}

h3 > span:before,
h3 > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    width: 100px;
    margin: 0 20px;
}

h3 > span:before{
    right: 100%;
}

h3 > span:after{
    left: 100%;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #205d91;
    text-transform: uppercase;
}

h5 {
    margin-bottom: 15px;
    font-weight: 600;
    color: #00acd6;
}

@media only screen and (min-width: 992px) {
    h1, h2 {
        margin-top: 80px;
        font-size: 40px;
        line-height: 50px;
    }

    h3 {
        font-size: 24px;
        line-height: 40px;
    }
}

a {
    color: #205d91;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #144E80;
}

strong {
    font-style: normal;
    font-weight: 600;
}

em {
    color: #205d91;
    font-style: normal;
    font-weight: 600;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #325d8d;
    opacity: 1;
}

:focus {
    box-shadow: none !important;
}

.modal-dialog {
    border: 15px solid #ea4001;
}

.alert {
    padding: 20px 30px;
}

.alert-primary {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    color: #0a1c2b;
    background-color: rgba(32, 180, 198, 0.1);
    border: none;
    border-radius: 0;
}

.font-size-18 {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-transform: none;
}

.mt-xl {
    margin-top: 90px;
}

.mt-xxl {
    margin-top: 110px;
}

@media only screen and (min-width: 992px) {
    .mt-xl {
        margin-top: 120px;
    }

    .mt-xxl {
        margin-top: 140px;
    }
}

.font-size-20 {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-transform: none;
}

.font-size-24 {
    font-size: 24px;
    font-weight: 300;
    line-height: 39px;
    text-transform: none;
}

.line-height-28 {
    line-height: 28px;
}

.bg-grey {
    background-color: #eeeff0;
}

.alert-primary h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 80px;
    color: #205d91;
    text-transform: uppercase;
}

.alert-primary .btn-close {
    color: #325d8d;
}

.btn-close {
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-16%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Ebene_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2030%2030%22%20style%3D%22enable-background%3Anew%200%200%2030%2030%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill%3Anone%3Bstroke%3A%23325D8D%3Bstroke-width%3A2%3Bstroke-linecap%3Around%3B%7D%3C%2Fstyle%3E%3Cg%20id%3D%22Gruppe_484%22%20transform%3D%22translate%2812.021%20-9.192%29%20rotate%2845%29%22%3E%3Cline%20id%3D%22Linie_19%22%20class%3D%22st0%22%20x1%3D%2234.2%22%20y1%3D%2215.3%22%20x2%3D%224.2%22%20y2%3D%2215.3%22%2F%3E%3Cline%20id%3D%22Linie_20%22%20class%3D%22st0%22%20x1%3D%2219.2%22%20y1%3D%220.3%22%20x2%3D%2219.2%22%20y2%3D%2230.3%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A');
    opacity: 0.75;
}

.btn-close:hover {
    opacity: 1;
}

.btn-danger {
    background-color: #ea4001;
    border: none;
}

.btn-danger:hover,
.btn-danger:focus {
    background-color: #d53900;
    border: none;
    box-shadow: none;
}

.bg-primary {
    background-color: #205d91 !important;
}

.btn {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-primary {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    min-width: 220px;
    font-size: 15px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 40px;
    background-color: #20b4c6;
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #08a2b5;
    box-shadow: none;
}

.btn-secondary {
    background-color: #205d91;
    border: none;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #144e80;
    box-shadow: none;
}

.icon-arrow-left {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../images/arrow_left.svg');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 0 2px;
}

.icon-arrow-right {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../images/arrow_right.svg');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 0 2px;
}

.modal-header {
    border-bottom: none;
}

/* Navigation */
nav.navbar {
    margin-bottom: 0;
    padding: 0;
    border: 0;
    min-height: 100px;
}

nav.navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

nav.navbar .navbar-brand img {
    margin-top: 27px;
    margin-bottom: 27px;
    height: 46px;
}

nav.navbar .navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    margin-top: 30px;
}

.navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 25px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #205d91 !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    color: #20b4c6 !important;
}

.navbar-light .navbar-toggler {
    border: none;
    color: #205d91;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Ebene_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2060%2050%22%20style%3D%22enable-background%3Anew%200%200%2060%2050%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill%3Anone%3Bstroke%3A%23325D8D%3Bstroke-width%3A2%3Bstroke-linecap%3Around%3B%7D%3C%2Fstyle%3E%3Cg%20id%3D%22Gruppe_484%22%20transform%3D%22translate%2812.021%20-9.192%29%20rotate%2845%29%22%3E%3Cline%20id%3D%22Linie_19%22%20class%3D%22st0%22%20x1%3D%2247.5%22%20y1%3D%221.2%22%20x2%3D%2226.3%22%20y2%3D%2222.4%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22Gruppe_484_00000049935562156961335410000010139819430374773151_%22%20transform%3D%22translate%2812.021%20-9.192%29%20rotate%2845%29%22%3E%3Cline%20id%3D%22Linie_19_00000166666575514607237410000018293046572909026991_%22%20class%3D%22st0%22%20x1%3D%2239.8%22%20y1%3D%22-6.6%22%20x2%3D%2218.5%22%20y2%3D%2214.6%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22Gruppe_484_00000093868228161006749770000002752661831201694620_%22%20transform%3D%22translate%2812.021%20-9.192%29%20rotate%2845%29%22%3E%3Cline%20id%3D%22Linie_19_00000028301074646662457240000003870095184803366805_%22%20class%3D%22st0%22%20x1%3D%2255.2%22%20y1%3D%228.9%22%20x2%3D%2234%22%20y2%3D%2230.1%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A');
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media only screen and (min-width: 992px) {
    body {
        padding-top: 100px;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .nav.navbar .navbar-brand img {
        margin-top: 25px;
        margin-bottom: 25px;
        height: 50px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 15px;
        line-height: 20px;
    }

    .navbar-nav .nav-link:nth-child(5) {
        padding-right: 0;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-collapse .navbar-nav {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .navbar-nav .nav-link {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: center;
    }
}

@media (max-width: 991px) {
    .navbar .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-content: center;
        position: fixed;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center !important;
        background: #205d91;
        opacity: 0;
        transition: opacity 0.35s ease;
    }

    .navbar .navbar-collapse.collapse {
        display: flex;
        opacity: 0;
        pointer-events: none;
        z-index: 2;
    }

    .navbar .navbar-collapse.collapsing[style*="height"] {
        height: 100vh !important;
        opacity: 1;
    }

    .navbar .navbar-collapse.collapsing {
        height: 100vh;
        opacity: 0;
    }

    .navbar .navbar-collapse.collapse.show {
        opacity: 1;
        pointer-events: auto;
    }

    .navbar .navbar-collapse .navbar-nav {
        margin-top: 100px;
        margin-right: initial !important;
        margin-bottom: auto
    }

    .navbar .navbar-collapse .navbar-brand {
        position: absolute;
        left: 20px;
    }

    .navbar .navbar-collapse .navbar-close {
        position: absolute;
        top: 35px;
        right: 35px;
        font-size: 13px;
        color: #ffffff;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }

    .navbar .navbar-collapse .btn-close {
        background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-16%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Ebene_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22enable-background%3Anew%200%200%2020%2020%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill%3Anone%3Bstroke%3A%23FFFFFF%3Bstroke-width%3A2%3Bstroke-linecap%3Around%3B%7D%3C%2Fstyle%3E%3Cline%20id%3D%22Linie_19%22%20class%3D%22st0%22%20x1%3D%2217.1%22%20y1%3D%222.9%22%20x2%3D%223%22%20y2%3D%2217%22%2F%3E%3Cline%20id%3D%22Linie_20%22%20class%3D%22st0%22%20x1%3D%223%22%20y1%3D%222.9%22%20x2%3D%2217.1%22%20y2%3D%2217%22%2F%3E%3C%2Fsvg%3E%0A');
        background-size: 20px 20px;
        vertical-align: middle;
    }

    .navbar .navbar-collapse .navbar-nav .nav-link {
        color: #ffffff !important;
    }

    .navbar .navbar-collapse .navbar-nav .nav-link:hover,
    .navbar .navbar-collapse .navbar-nav .nav-link:active {
        color: #20b4c6 !important;
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        margin-left: initial !important;
    }
}

/* Header Image */
#header {
    margin-bottom: 50px;
}

#header h4 {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 300;
    color: #00323c;
    text-transform: uppercase;
}

#header h5 {
    margin: 0 0 3px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #00323c;
}

#header .bg-primary .btn-primary {
    min-width: auto;
}

#header .covid {
    position: relative;
    width: 100%;
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    #header .covid {
        position: absolute;
        width: auto;
        right: 15px;
        top: 20px;
    }
}

@media only screen and (min-width: 992px) {
    #header {
        margin-bottom: 70px;
    }
}

#header div.header-box-wrapper {
    position: relative;
    display: block;
    width: 100%;
}

#header div.header-box {
    padding: 30px 35px 25px 35px;
    font-size: 16px;
    line-height: 22px;
    background-color: #205d91;
    color: #ffffff;
    opacity: 1;
}

#header div.header-box {
    margin-top: 50px;
    margin-bottom: 5px;
}

#header div.header-box h4 {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

#header table > tbody > tr {
    border-top: 1px solid #ffffff;
}

#header table > tbody > tr:last-child {
    border-bottom: 1px solid #ffffff;
}

#header table > tbody > tr > td {
    padding-top: 3px;
    padding-bottom: 3px;
}

#header table > tbody > tr > td:nth-of-type(2) {
    padding-left: 20px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    #header div.header-box a.btn {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    #header div.header-box-wrapper {
        position: absolute;
        top: 40px;
        left: 55px;
        width: 400px;
    }

    #header div.header-box {
        margin-top: 0;
    }
}

@media only screen and (min-width: 1200px) {
    #header div.header-box-wrapper {
        width: 500px;
    }

    #header div.header-box {
        font-size: 20px;
        line-height: 30px;
    }

    #header div.header-box h4 {
        font-size: 20px;
        line-height: 30px;
    }

    #header table > tbody > tr > td {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media only screen and (min-width: 1400px) {
    #header div.header-box-wrapper {
        top: 85px;
        left: 100px;
        width: 500px;
    }
}

#carousel {
    margin-top: 50px;
    margin-bottom: 80px;
}

.carousel-item img {
    animation: move 10s ease infinite;
    transform-origin: center center;
}

@-webkit-keyframes move {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control {
    top: 50%;
    left: 0;
    width: 50px;
    margin-top: -25px;
}

.carousel-control-prev {
    display: none;
    width: 5%;
}

.carousel-control-next {
    display: none;
    width: 5%;
}

.carousel-indicators {
    margin-bottom: -40px;
}

.carousel:hover .carousel-control-prev {
    display: block;
    transition: all 3s ease;
}

.carousel:hover .carousel-control-next {
    display: block;
    transition: all 3s ease;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #eeeff0;
    background-color: #eeeff0;
    opacity: 1;
}

.carousel-indicators [data-bs-target].active {
    border: 1px solid #4d7da7;
    background-color: #4d7da7;
}

@media only screen and (max-width: 991px) {
    #header .carousel-indicators {
        display: none;
    }

    #header div.header-box {
        margin-top: 0;
    }
}

/* Willkommen */
#willkommen h4 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    text-transform: none;
    color: #0a1c2b;
}

#team .row.d-flex {
    background-color: #eeeff0;
}

#team .row.d-flex > .col-lg-6 {
    align-self: center;
}

#leistungen .row:nth-child(2) {
    position: relative;
    background-image: url('../images/bg.svg');
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover;
    background-size: cover !important;
    z-index: 100;
}

#leistungen .accordion-button {
    padding-left: 0.5rem;
    padding-right: 0;
    font-size: 14px;
    background-color: #205d91;
    color: #ffffff;
    text-transform: uppercase;
    transition: none;
}

#leistungen .accordion-button:focus {
    box-shadow: none;
}

#leistungen .accordion-button::after {
    width: 50px;
    height: 50px;
    background-image: url('../images/plus.svg');
    background-size: 16px 16px;
    background-position-x: 17px;
    background-position-y: 17px;
    background-color: #20b4c6;
    transition: none;
}
#leistungen .accordion-button:hover {
    background-color: #144e80;
}

#leistungen .accordion-button:hover::after {
    background-color: #08a2b5;
}

#leistungen .accordion-button:not(.collapsed)::after {
    background-image: url('../images/minus.svg');
    background-position-x: 15px;
    background-position-y: 16px;
}

#leistungen .accordion-item {
    // border: 2px solid #ffffff;
}

#leistungen .accordion-body li {
    font-size: 18px;
    line-height: 28px;
}

@media only screen and (min-width: 576px) {
    #leistungen .accordion-button {
        padding-left: 1.25rem;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1px;
    }

    #leistungen .accordion-button::after {
        background-size: 20px 20px;
        background-position-x: 14px;
        background-position-y: 15px;
    }

    #leistungen .accordion-button:not(.collapsed)::after {
        background-position-x: 15px;
        background-position-y: 16px;
    }
}

/* Kontakt */
#kontakt .card {
    border: none;
}

#kontakt .card h4 {
    text-transform: unset;
}

#kontakt .card.bg-primary h4 {
    color: #ffffff;
}

/* Footer */
footer {
    height: 120px;
    font-size: 15px;
    line-height: 30px;
    background-color: #205d91;
}

footer img {
    margin-top: 35px;
}

footer p {
    margin-top: 45px;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
}

footer a,
footer a:hover,
footer a:focus {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none !important;
    text-transform: uppercase;
}
